In [11]:
#1. Create a vector or array of 100 elements. Its 50th value should be    50.0 and other values should be 0.0 (1 mark)
import numpy as np
a=np.zeros(100)
a[49]=50.0
print(a)

[ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. 50.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]

In [10]:
#2. Create a vector or array of 100 elements. Its 50th value should be    10.0 and other values should be 1.0 (1 mark)
b=np.ones(100)
b[49]=10.0
print(b)

[ 1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1. 10.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.]

In [21]:
#3. Create a  vector or array whose values are from 3, 30 (1 mark)
c=np.arange(3,31)
print(c)

[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
 27 28 29 30]

In [16]:
#4. X = (1,2,3,4,5).  Reverse and print X (1 mark
x=np.array([1,2,3,4,5])
print(x[::-1])

[5 4 3 2 1]

In [19]:
#5. Create a 5x 5 matrix and values should be from 0 to 24 (1 mark)
print(np.arange(0,25).reshape(5,5))

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

In [30]:
#6. Consider the following  matrix A1 and A2 
a1=np.array([[1,3,0],
            [2,1,1],
            [3,4,0]])

a2=np.array([[3,4,6],
            [2,1,3],
            [1,2,8]])
#a) Find min. max of the values for A1 and A2
print("Min value for A1: ",np.min(a1))
print("Min value for A2: ",np.min(a2))
print("Max value for A1: ",np.max(a1))
print("Max value for A1: ",np.max(a2))

Min value for A1:  0
Min value for A2:  1
Max value for A1:  4
Max value for A1:  8

In [32]:
#b) Find the mean value for A1 and A2
print("Mean value for A1: ",np.mean(a1))
print("Mean value for A2: ",np.mean(a2))

Mean value for A1:  1.6666666666666667
Mean value for A2:  3.3333333333333335

In [52]:
#c) Make the values below the diagonal as 0.0 for A1
print("Original A1: \n",a1)
print("After transformation: \n",np.triu(a1, 0))

Original A1:
 [[1 3 0]
 [2 1 1]
 [3 4 0]]
After transformation:
 [[1 3 0]
 [0 1 1]
 [0 0 0]]

In [53]:
#d) Multiply A1 and A2
np.dot(a1,a2)

array([[ 9,  7, 15],
       [ 9, 11, 23],
       [17, 16, 30]])

In [55]:
#e) What are the common values between A1 and A2
np.intersect1d(a1, a2)

array([1, 2, 3, 4])

In [61]:
#f) Swap first and 3rd rows of A1
print("Value BEFORE swap: \n", a1)
print("Value AFTER sawp: \n")
a1[[0,2]] = a1[[2,0]]
print(a1)

Value BEFORE swap:
 [[1 3 0]
 [2 1 1]
 [3 4 0]]
Value AFTER sawp:

[[3 4 0]
 [2 1 1]
 [1 3 0]]

In [85]:
#g) What is the  mosft frequent numbers from A1 and A2
(values,counts) = np.unique(a1,return_counts=True)
ind=np.argmax(counts)
print("Most frequent number from A1: ",values[ind])

Most frequent number from A1:  1

In [93]:
from scipy.stats import mode
m=mode(a2)
print("Most frequent number from A2: ",m[0])

Most frequent number from A2:  [[1 1 3]]

In [112]:
#h) Add a column to A1 with values 1 1 1
print("Original A1: \n",a1) 
print("After adding column: ")
(np.c_[ a1, np.ones(3) ])

Original A1:
 [[3 4 0]
 [2 1 1]
 [1 3 0]]
After adding column:

array([[3., 4., 0., 1.],
       [2., 1., 1., 1.],
       [1., 3., 0., 1.]])

In [115]:
#i) Add a row to A2 with 2 2 2
print("Original A2: \n",a2)
print("After adding row: ")
(np.r_[ a2, np.full((1,3), 2) ])

Original A2:
 [[3 4 6]
 [2 1 3]
 [1 2 8]]
After adding row:

array([[3, 4, 6],
       [2, 1, 3],
       [1, 2, 8],
       [2, 2, 2]])

In [152]:
#7. Write a function for matrix multiplications and additions. Use A1 and A2 to test.[3 marks]

#Multiplication
  result = [[0,0,0],
         [0,0,0],
         [0,0,0]]
def mul(x,y):
    # iterate through rows of X
    for i in range(len(x)): 
        # iterate through columns of Y
        for j in range(len(y[0])):
            # iterate through rows of Y
            for k in range(len(y)):
                result[i][j] += x[i][k] * y[k][j]

for r in result:
    print(r)


mul(a1,a2)

[17, 16, 30]
[9, 11, 23]
[9, 7, 15]

In [155]:
#Addition
def add_mat(x,y):
  
    # iterate through rows
    for i in range(len(x)):
        # iterate through columns
        for j in range(len(x[0])):
            result[i][j] = x[i][j] + y[i][j]

for r in result:
    print(r)
    
add_mat(a1,a2)

[6, 8, 6]
[4, 2, 4]
[2, 5, 8]

In [161]:
#8. Write a bubble sort program with normal Python  for 10 floating point numbers [3 marks]
def bubbleSort(arr):
    n = len(arr)
 
    for i in range(n):
 
      
        for j in range(0, n-i-1):
 
            if arr[j] > arr[j+1] :
                arr[j], arr[j+1] = arr[j+1], arr[j]
                
                
arr = [64.0, 34.0, 25.0, 12.0, 22.0, 11.0, 90.0, 5.038, 69.330, 12.35]
 
bubbleSort(arr)
 
print ("Sorted array is:")
print(arr)

Sorted array is:
[5.038, 11.0, 12.0, 12.35, 22.0, 25.0, 34.0, 64.0, 69.33, 90.0]